<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776378880146-3ot0l4vdik66jui13lmren675p2o84s8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776378880146-3ot0l4vdik66jui13lmren675p2o84s8</string>
	<key>API_KEY</key>
	<string>AIzaSyB9S0SebrAYMwyj7Ij0TKjjXMBkmVytEGU</string>
	<key>GCM_SENDER_ID</key>
	<string>776378880146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.readingBook4k</string>
	<key>PROJECT_ID</key>
	<string>reading-book-1aa02</string>
	<key>STORAGE_BUCKET</key>
	<string>reading-book-1aa02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776378880146:ios:45a32312b7b09dab2cd64b</string>
</dict>
</plist>